body {
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    max-width: 500px;
    display: table;
    margin: 10% auto;
    border-radius: 5px;
}

.statCouter {
    padding: 10px;
    display: flex;
}

.statCouter div {
   width: 100%;
   text-align-last: center;
}

#statCouter {
    font-weight: bold;
}